<div class="guidenav">
  <ul>
    <li class="<%= current 'records', 'index' %>"><%= link_to 'last 40', :records %></li>
    <li class="<%= current 'cats', 'index' %>"><%= link_to 'cats', :cats %></li>
    <li class="<%= current 'records', 'distribution' %>"><%= link_to 'distribution', '/records/distribution' %></li>
  </ul>
</div>

