<!DOCTYPE html>
<html>
<head>
  <title>rcrd</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'touch-icon-iphone-retina.png' %>" />
  <script> var rcrd = {}; </script>
</head>
<body>
  <div id="everything">
    <header class="clearfix" 
            ng-controller="headerCtrl" 
            ng-style="{'border-color': statusBarColor}">
      <h1 class="logo"><a href="/">rcrd</a></h1>
      <% if current_user %>
        <ul>
          <li ng-class="links.dashboard.cur"><a href="/">dashboard</a></li>
          <li ng-class="links.records.cur"><a href="/records">records</a></li>
          <li ng-class="links.settings.cur"><a href="/settings">settings</a></li>
          <li ng-class="links.guide.cur"><a href="/guide">guide</a></li>
        </ul>
      <% end %>
    </header>
    <div ng-view></div>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33106225-1']);
    _gaq.push(['_setDomainName', 'rcrd.org']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
